<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>yuv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype_yuv.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/yuv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Yuv Video File</string>
			<key>CFBundleTypeRole</key>
			<string>@EXECUTABLE@</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>yts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>filetype_yts.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/yts</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>YuvToolkit Script File</string>
			<key>CFBundleTypeRole</key>
			<string>@EXECUTABLE@</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>YUVToolkit</string>
	<key>CFBundleGetInfoString</key>
	<string>@EXECUTABLE@ - YUV video player</string>
	<key>CFBundleIconFile</key>
	<string>YUVToolkit.icns</string>
	<key>CFBundleIdentifier</key>
	<string>http://www.yuvtoolkit.com</string>
	<key>CFBundleName</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>CFBundleSignature</key>
	<string>David Zhao</string>
</dict>
</plist>
